body {
  background: linear-gradient(#068d73, #3cd3b4);
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 100vh;
  position: relative;

  .cards-all {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #068d73;
    gap: 7rem;
    .cards-left {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      .button-up {
        display: flex;
        gap: 2rem;

        justify-content: center;
        .home {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background: none;
          color: rgb(255, 255, 255);

          svg {
            font-size: 1.5rem;
          }

          p {
            font-size: 0.8rem;
          }
        }

        .forecast {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background: none;
          color: white;

          svg {
            font-size: 1.5rem;
          }

          p {
            font-size: 0.8rem;
          }
        }
        .share {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background: none;
          color: white;

          svg {
            font-size: 1.5rem;
          }

          p {
            font-size: 0.8rem;
          }
        }
      }
      .card-bottom {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .icon {
          font-size: 6rem;
          text-align: center;
          color: white;
        }
        .icon-text {
          text-align: center;
          color: white;
          margin-top: -1.5rem;
        }
        .degrees {
          font-size: 2.8rem;
          text-align: center;
          color: white;
        }

        .input-icon {
            height: 30px;
            display: flex;
            align-items: center;
        }
        .form-control {
          flex: 1 !important;
          height: 30px;
        }
        .date {
          text-align: center;
          color: white;
          font-size: 1.2rem;
          margin-top: 3rem;
        }
        .city {
          text-align: center;
          color: white;
          margin-top: -1rem;
        }
      }
    }

    .cards-right {
      
      .weather-up {
        margin-top: -2rem;
        text-align: center;
        
        .forecast {
          margin-bottom: 3rem;
          svg {
            font-size: 2.5rem;
            color: white;
          }
          p {
            color: white;
            font-weight: 300;
          }
        }
      }
      .weather-bottom {
        .first-three-day {
          display: flex;
          text-align: center;
          gap: 4rem;
          
          .icon {
            font-size: 2rem;
            color: white;
          }
          .degrees {
            font-size: 2rem;
            color: white;
          }
          .date {
            margin-top: 2rem;
            color: white;
            font-size: 0.9rem;
          }
        }

        .second-three-day {
          display: flex;
          text-align: center;
          margin-top: 3.5rem;
          gap: 4rem;
          .icon {
            font-size: 2rem;
            color: white;
          }
          .degrees {
            font-size: 2rem;
            color: white;
          }
          .date {
            margin-top: 2rem;
            color: white;
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  .btn {
    background-color: white;
    color: black;
    border: none;
  }
}
