body {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0;
  
  
  .cards-all {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#068d73, #3cd3b4);
    background-repeat: no-repeat;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    padding: 0 !important;
    

    .cards-left {
      display: flex;
      flex-direction: column;
      align-items: center !important;
      justify-content: center;
      gap: 1.5rem;
      flex: 1;
      padding: 2rem;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
      height: 100vh;
      .button-up {
        display: flex;
        gap: 2rem;

        justify-content: center;
        .home {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background: none;
          color: rgb(255, 255, 255);

          svg {
            font-size: 1.5rem;
          }

          p {
            font-size: 0.8rem;
          }
        }

        .home:hover {
          color: black;
        }

        .forecast {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background: none;
          color: white;

          svg {
            font-size: 1.5rem;
          }

          p {
            font-size: 0.8rem;
          }
        }

        .forecast:hover {
          color: black;
        }
        .share {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background: none;
          color: white;

          svg {
            font-size: 1.5rem;
          }

          p {
            font-size: 0.8rem;
          }
        }
        .share:hover {
          color: black;
        }
      }
      .card-bottom {
        display: flex;
        flex-direction: column;

        .icon {
          font-size: 6rem !important;
          text-align: center;
          color: white;
        }
        .icon-text {
          text-align: center;
          color: white;
          margin-top: -1.5rem;
        }
        .degrees {
          font-size: 2.8rem;
          text-align: center;
          color: white;
        }

        .input-icon {
          height: 30px;
          display: flex;
          align-items: center;
        }
        .form-control {
          flex: 1 !important;
          height: 30px;
        }
        .date {
          text-align: center;
          color: white;
          font-size: 1.2rem;
          margin-top: 3rem;
        }
        .city {
          text-align: center;
          color: white;
          margin-top: -1rem;
        }
      }
    }

    .cards-right {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      flex: 2;
      background-color: #08aa8a;
      padding: 2rem;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
      height: 100vh;
      .weather-up {
        text-align: center;

        .forecast {
          margin-bottom: 3rem;
          svg {
            font-size: 2.5rem;
            color: white;
          }
          p {
            color: white;
            font-weight: 300;
          }
        }
      }
      .weather-bottom {
        display: flex;
        flex-wrap: wrap;

        .days {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 33%;

          .icon {
            font-size: 2rem;
            color: white;
          }
          .degrees {
            font-size: 2rem;
            color: white;
          }
          .date {
            margin-top: 2rem;
            color: white;
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  .btn {
    background-color: white;
    color: black;
    border: none;
  }

  @media screen and (max-width: 768px) {
    .cards-all {
      display: flex;
      flex-direction: column;
      .cards-right {
        margin-top: 1rem !important;
        padding: 2rem;
      }
    }
  }
}
